.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding-top: 50px;
}

.link {
  text-decoration: none;
  color: white;
  overflow: hidden;
  width: 300px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: grid;
  font-weight: bold;
  place-content: center;
  color: transparent;
  height: 100%;
}

.link > img {
  width: 100%;
  object-fit: cover;
}

.link:hover ~ .link {
  filter: grayscale(50%);
}

.link:has(~ .link:hover) {
  filter: grayscale(50%);
}

.link:hover {
  filter: grayscale(0);
}

@media (max-width: 1000px) {
  .main-container {
    align-items: center;
    height: 100vh;
    padding: 0;
    width: 90%;
  }
}
