.day {
  font-size: 24px;
  border-left: 2px solid var(--highlight);
  border-right: 2px solid var(--highlight);
  background-color: var(--highlight-darker-color);
  color: var(--highlight);
}

.problem-container {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
