.day {
  border-radius: 7px;
  font-size: 24px;
  color: var(--highlight-darker-color);
}

.problem-container {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
