.problem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  position: relative;
  border-left: 2px solid;
  border-right: 2px solid;
  transition: 0.25s;
}

.problem:hover  {
  scale: 1.01;
}

.problem-title {
  color: white;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 50;
  transition: 0.25s ease-in-out;
}

.tags-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: auto;

  & svg {
    width: 24px;
    height: 24px;
  }
}

.tags-show:hover {
  color: var(--highlight);
}

.tags-show:hover .tags-container {
  opacity: 1;
  scale: 1;
}

.tags-container {
  color: var(--white);
  scale: 0.7;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 150%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out, scale 0.25s ease-in-out;
  gap: 10px;
}

.tag {
  padding: 7px;
  border-radius: 8px;
  font-size: 0.7rem;
  text-wrap: nowrap;
  border: 1px solid var(--black);
  background-color: var(--primary);
}

.tsparticles2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

@media (max-width: 900px) {
  .problem {
    grid-template-columns: 1fr 1fr;
  }

  .problem-title {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .problem {
    grid-template-columns: 1fr;
  }
  .tags-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .tag {
    text-align: center;
    margin: auto;
  }
}
