.user-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  background-color: var(--primary-color);
  overflow-x: auto;
  display: flex;
  gap: 16px;
}

.profile-picture {
  width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
}

.header-link {
  text-decoration: none;
  color: var(--tertiary-color);
  text-align: center;
  text-wrap: nowrap;
}

.users-loading {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.users-container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 500px;
  transform: translateY(5%);
  opacity: 0;
}

.profile-link {
  margin-top: 50px;
}

.profile-anchor {
  color: var(--highlight-color);
}

.problems-container {
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}

.go-back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: white;
  color: var(--highlight-color);
  font-weight: bold;
  border: 2px solid var(--highlight-color);
  padding: 1rem;
  border-radius: 8px;
  transition: 0.25s ease-in-out;
}

.go-back:hover {
  scale: 1.1;
}

.weekly-total {
  font-size: 1.2rem;
  color: var(--highlight-brighty-color-two);
}

.all-total {
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

.not-found {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.313);
}

.no-problems {
  color: var(--gray);
}
