.users-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 50px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 500px;
}

.problems-container {
  display: grid;
  place-content: center;
  padding: 1rem;
  gap: 2rem;
}

.week-container {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.day-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--highlight-color);
  min-height: 120px;
}

.problem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 7px;
  gap: 1rem;
  width: 100%;
}

.go-back {
  text-decoration: none;
  color: white;
  color: var(--highlight-color);
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

.go-back:hover {
  transform: scale(1.1);
}

@media (max-width: 1000px){
  .problems-container {
    grid-template-columns: 1fr;
  }
}