.week-container {
  display: grid;
  position: relative;
  width: 100%;
}

.week-title {
  display: flex;
  text-wrap: nowrap;
  gap: 18px;
  align-items: center;
  scroll-margin-top: 60px;
  color: var(--gray);
  text-align: left;
}

.week-highlight {
  color: var(--highlight);
  padding: 4px;
  border-radius: 8px;
  background-color: var(--primary);
  z-index: 20;
}

.week-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

.days-opener-button {
  position: absolute;
  left: 50%;
  top: 14px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  transition: 0.5s ease-out;
  font-size: 16px;
  width: 3rem;
  background-color: var(--primary);
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.week-line2 {
  width: 0;
  position: absolute;
  display: block;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--highlight);
  transition: 0.8s;
}

.days-opener:checked ~ .week-line2 {
  width: 100%;
}

.week-line:has(~ .days-opener-button:hover) {
  background-color: var(--highlight);
}

.days-opener-button:has(~ .days-opener:checked) {
  color: var(--highlight);
}

.days-opener {
  display: none;
}

.days-opener:checked ~ .days-package {
  max-height: 100%;
}

.days-package {
  display: grid;
  overflow: hidden;
  max-height: 0;
}
