*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #222831;
  --primary-darker-color: #1d232b;
  --secondary-color: #393E46;
  --secondary-brighty-color: #687180;
  --secondary-darker-color: #1d1f24;
  --secondary-transparent-color: #393e469a;
  --tertiary-color: #FFD369;
  --tertiary-darker-color: #ac8e47;
  --highlight-color: #d35100;
  --highlight-darker-color: #3b00007e;
  --highlight-color-two: purple;
  --highlight-brighty-color-two: rgb(162, 1, 162);
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Victor Mono Variable", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  background-color: var(--tertiary-color);
  height: 5px;
}

.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  padding-top: 5rem;
}

@media (max-width: 1200px) {
  .main-container {
    padding-top: 3.5rem;
    width: 90%;
    flex-direction: column;
  }
}