*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #171616;
  --secondary-color: #006e10;
  --secondary-brighty-color: #00b71b;
  --secondary-darker-color: #00480b;
  --highlight-color: rgb(243, 199, 117);
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Victor Mono Variable", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  padding-top: 5rem;
}

@media (max-width: 1200px) {
  .main-container {
    padding-top: 3.5rem;
    width: 90%;
    flex-direction: column;
  }
}