*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #040407;
  --highlight: #facc15;
  --highlight-light: #ffeda739;
  --green: rgb(82, 255, 186);
  --dark-green: rgb(32, 101, 73);
  --white: rgb(227, 227, 227);
  --gray: rgb(178, 178, 178);
  --black: #131313;

  --primary-color: #040407;
  --primary-darker-color: #1d232b;
  --secondary-color: #393e46;
  --secondary-brighty-color: #687180;
  --secondary-darker-color: #1d1f24;
  --secondary-transparent-color: #393e469a;
  --tertiary-color: #ffd369;
  --tertiary-darker-color: #ac8e47;
  --highlight-color: #facc15;
  --highlight-darker-color: #717171;
  --highlight-color-two: rgb(172, 0, 172);
  --highlight-brighty-color-two: rgb(162, 1, 162);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Victor Mono Variable", sans-serif;
  padding-left: calc(100vw - 100%);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--tertiary-darker-color);
}

*::-webkit-scrollbar-track {
  background-color: var(--secondary-transparent-color);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.appear {
  animation: appear 1s ease-in-out both;
}

@keyframes appear {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
